body {
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #e8f0ff;

}

.button {
    background-color: rgb(104, 171, 209);
    border: none;
    color: rgb(253, 253, 253);
    padding: 12px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 18px;
}

button:hover {
    background-color: #2976f2;
}

.box {
    margin-top: 3px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 2px;
    padding-left: 4px;
    border: 1px solid #cccccc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.form {
    margin-top: 30px;
}
